.quiz-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #018786; /* Background color matching the landing page */
  padding: 20px;
}

.quiz-box {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  text-align: left;
}

h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

.options {
  display: flex;
  flex-direction: column;
}

.option-button {
  padding: 15px;
  margin: 10px 0;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  background-color: #f0f0f0;
  transition: background-color 0.3s, border 0.3s;
}

.option-button:hover {
  background-color: #e0e0e0;
}

.option-button.correct {
  background-color: #4caf50; /* Green color for correct answers */
  color: white;
  border-color: #388e3c; /* Darker green border */
}

.option-button.incorrect {
  background-color: #f44336; /* Red color for selected incorrect answers */
  color: white;
  border-color: #d32f2f; /* Darker red border */
}

.option-button.incorrect-when-disabled {
  background-color: #f44336; /* Red color for incorrect options even when not selected */
  color: white;
  border-color: #d32f2f; /* Darker red border */
}

.option-button:disabled {
  cursor: not-allowed;
}

.navigation-buttons {
  margin-top: 40px; /* Added more space above the buttons */
  display: flex;
  justify-content: space-between;
  padding-top: 20px; /* Added padding at the top of the buttons */
}

.navigation-buttons button {
  padding: 15px 30px; /* Increased padding for bigger buttons */
  font-size: 18px; /* Increased font size for bigger buttons */
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #018786;
  color: white;
  transition: background-color 0.3s;
}

.navigation-buttons button:hover {
  background-color: #015f5b;
}

.navigation-buttons button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
