.quiz-container {
  display: flex;
  flex-direction: column; /* Stack header and quiz box vertically */
  align-items: center; /* Center horizontally */
  justify-content: center;
  height: 100vh;
  background-color: #018786;
  padding: 20px;
}

.quiz-header {
  font-size: 36px;
  color: white;
  margin-bottom: 20px; /* Space between header and quiz box */
}

.quiz-box {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  text-align: left;
}

h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

.score {
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.option-button {
  flex: 1 1 45%;
  padding: 20px; /* Increased padding for larger buttons */
  margin: 10px 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  background-color: #f0f0f0;
  transition: background-color 0.3s, border 0.3s;
}

.option-button:hover {
  background-color: #e0e0e0;
}

.option-button.correct {
  background-color: #4caf50;
  color: white;
  border-color: #388e3c;
}

.option-button.incorrect {
  background-color: #f44336;
  color: white;
  border-color: #c62828;
}

.option-button.incorrect-when-disabled {
  background-color: #f44336;
  color: white;
}

.navigation-buttons {
  margin-top: 40px; /* Added more space above the buttons */
  display: flex;
  justify-content: space-between;
  padding-top: 20px; /* Added padding at the top of the buttons */
}

.navigation-buttons button {
  padding: 15px 30px; /* Increased padding for bigger buttons */
  font-size: 18px; /* Increased font size for bigger buttons */
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #018786;
  color: white;
  transition: background-color 0.3s;
}

.navigation-buttons button:hover {
  background-color: #015f5b;
}

.navigation-buttons button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}